td, th,p {
  vertical-align: middle;
  text-align: center;
  /* text-overflow: ellipsis;
  /* word-wrap: normal; */
  /*word-break: keep-all; */
}
p{
  margin: 0;
}


tbody tr:last-of-type th, tbody tr:last-of-type td {
  border: none;
}


@media (max-width:964px) {
  td,th {
    padding: .4rem !important;
  }
}

